.grid-container {
  display: flex;
  justify-content: center;
}

.ListGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

@media (max-width: 767px) {
  .ListGroup {
    grid-template-columns: 1fr;
  }
}
